.bg-custom {
    background-color: rgb(252, 254, 255);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    border: 3px solid black;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0px;
    padding-top: 0px;
}

nav {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}


#join::after {
    padding: 30%;
    content: "|";
}


 #calendar {
    color: rgb(52, 183, 255);
}

#rule {
    border-left: 2px solid rgba(52, 183, 255);
    height: 50px;
}

#guest {
    color: rgba(52, 183, 255);
    border-color: rgba(52, 183, 255);
}

#go {
    color: rgba(52, 183, 255);
    border-color: rgba(52, 183, 255);
}

#special {
    color: rgba(52, 183, 255);
    border-color: rgba(52, 183, 255);
}

th {
    padding-right: 100%;
}

.blue-background {
    background-color: rgba(52, 183, 255);
}

  .carousel-item img {
    object-fit: cover;
    height: 100%;
    width: auto;
  }

  #carouselShow {
    height: 60vh;
  }

  .carousel-inner {
    height: 100%;
    border-radius: 10px;
  }

  .carousel-item {
    height: 100%;
    border: 1px solid  rgba(0, 0, 0, 0.1);
  }

  .carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
}

.carousel-caption {
    color: #fff;
    text-align: center;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carousel-caption .btn-primary {
    background-color: rgb(52, 183, 255);
    text-shadow: none;
}

#summer {
    color: rgba(16, 76, 151);
}

#plan {
    background-color: rgba(16, 76, 151);

}






